{% extends 'base.html' %}
 
{% block content %}
  <table rules="cols" cellpadding="10" style="width: 100%; background-color:lightsteelblue"><tr>
    <td style="width: 50%;"><h1>Регистрация сотрудников</h1><hr></td>
    <td><h1>Информация о сотрудниках</h1><hr></td></tr>
    <tr><td>
      <form method="post" class="form-center">
        {% csrf_token %}
        <input type="hidden" name="check" value="register" />
        <div>{{ form_register.non_field_errors }}</div>
        {% for f in form_register %}
          <label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
          <div>{{ f.errors }}</div>
        {% endfor %}
        <p ><button type="submit">Зарегистрировать</button></p>
      </form>
    </td>
    <td>
      <form method="post" class="form-center">
        {% csrf_token %}
        <input type="hidden" name="check" value="select" />
        <div>{{ form_select.non_field_errors }}</div>
        {% for f in form_select %}
          <label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
          <div>{{ f.errors }}</div>
        {% endfor %}
        <p ><button type="submit">Выбрать</button></p>
      </form>
      <hr />
      <form method="post" class="form-center">
        {% csrf_token %}
        <input type="hidden" name="check" value="edit" />
        <div>{{ form_edit.non_field_errors }}</div>
        {% for f in form_edit %}
          <label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
          <div>{{ f.errors }}</div>
        {% endfor %}
        {% if user_id %}
          <p ><button type="submit" name="form_button" value="edit">Изменить</button>|
          |<button type="submit" name="form_button" value="delete">Удалить</button></p>
        {% else %}
          <p ><button type="submit" name="form_button" value="edit" disabled="True">Изменить</button>|
          |<button type="submit" name="form_button" value="delete" disabled="True">Удалить</button></p>
        {% endif %}
      </form>
    </td>
  </tr></table>
{% endblock %}