<!--A page for searching for books that are available.-->

{% extends 'base.html' %}

{% block content %}
  {% load number_of_books_tag %}
  <table><!--A table for marking up the entire page.--><tr>
    <td class="panel-left"><!--Book search form.-->
      <form action="">
        {{ form.as_p }}
        <button type="submit">Найти</button>
      </form>
    </td>
    <td><!--Displays a list of books.-->
      <h2>Список книг:</h2>
      <!--Displays a list of all books.-->
        <ul>
          {% for i in object_list %}
            <li><a href="{% url 'detail' i.id %}">"{{ i.title }}"<br />{{ i.author }}</a>
              {% num i.numberofbooks.number i.distribution_set.all %}
            </li>
            <br />
          {% endfor %}
        </ul>
        <!--Show a panel with pagination page numbers.-->
        {% if page_obj.has_other_pages %}
          <nav>
            <ul>
              {% if page_obj.has_previous %}
                <l><a href="?page={{ page_obj.previous_page_number }}&title={{ title }}&author={{ author }}">&lt;</a></l>
              {% endif %}
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <l>{{ i }}</l>
                {% elif i >= page_obj.number|add:-1 and i <= page_obj.number|add:1 %}
                  <l><a href="?page={{ i }}&title={{ title }}&author={{ author }}">{{ i }}</a></l>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <l><a href="?page={{ page_obj.next_page_number }}&title={{ title }}&author={{ author }}">&gt;</a></l>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
    </td>
  </tr></table>
{% endblock %}