{% extends 'base.html' %}

{% block content %}
<!--Show full information about the book.-->
{% load number_of_books_tag %}
<table style="width: 100%;"><tr>
  <td>
    Заголовок: "{{ object.title }}"<br />
    Автор: {{ object.author }}<br />
    Год издания: {{ object.year }}<br />
    Издатель: {{ object.publisher }}<br />
    Номер издания: {{ object.edition }}<br />
  </td>
  <td style="width: 50%;">
    {% if object.cover %}
      <img src="{{object.cover.url}}" />
    {% endif %}
  </td>
</tr>
<tr><td>    {% if user.groups.get.name == 'Библиотекарь' %}
  В наличии: {{ number_of_books }}
      {% include 'one_form.html' with form=form_edit not_base_template=True center=True %}
      <b>Последние действия:</b> {{ message }}
      {% else %}
      <b>{% num object.numberofbooks.number object.distribution_set.all %}</b><br />
    {% endif %}
  </td><td></td></tr></table>
{% endblock %}